{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1><span>Witam jest to aplikacja stworzona jako zadanie rekrutacyjne przy użyciu frameworku Symfony {{ constant('Symfony\\Component\\HttpKernel\\Kernel::VERSION') }} przez Damiana Szafraniec</h1>
            </div>

            <div id="status">
            <p><h2>Zadanie: </h2></p>
            <hr>
                <p>
                  Stworzyć prosty blog z wykorzystaniem frameworka Symfony3.4 lub nowszego:
                  <ul>
                      <li>Blog powinien posiadać wpisy/posty.</li>
                      <li>Posty powinny być widoczne w dwóch postaciach: lista postów oraz podgląd pojedynczego postu.</li>
                      <li>Projekt trzymać w repozytorium git.</li>
                  </ul>
                </p>
                <hr>
                <p>
                  Dodatkowe punkty za:
                  <ul>
                      <li>możliwość grupowania postów w kategoriach</li>
                      <li>możliwość komentowania postów</li>
                      <li>możliwość wrzucania zdjęć do postów</li>
                      <li>możliwość prostego wyszukiwania postów w wyszukiwarce po tytule i/lub kategoriach</li>
                      <li>podpięcie zakodowanego szablonu</li>
                  </ul>
                </p>
                <hr>
                <p>
                  Wymagania:
                  <ul>
                      <li>Git jako system kontroli wersji (prosimy o dostęp do repozytorium)</li>
                      <li>PHP7.1+</li>
                      <li>Symfony3.4+</li>
                      <li>Dowolna SQL-owa baza danych</li>
                  </ul>
                </p>
            </div>

        </div>
    </div>
{% endblock %}

{% block stylesheets %}
<style>
    body { background: #F5F5F5; font: 18px/1.5 sans-serif; }
    h1, h2 { line-height: 1.2; margin: 0 0 .5em; }
    h1 { font-size: 36px; }
    h2 { font-size: 21px; margin-bottom: 1em; }
    p { margin: 0 0 1em 0; }
    a { color: #0000F0; }
    a:hover { text-decoration: none; }
    code { background: #F5F5F5; max-width: 100px; padding: 2px 6px; word-wrap: break-word; }
    #wrapper { background: #FFF; margin: 1em auto; max-width: 800px; width: 95%; }
    #container { padding: 2em; }
    #welcome, #status { margin-bottom: 2em; }
    #welcome h1 span { display: block; font-size: 75%; }
    #icon-status, #icon-book { float: left; height: 64px; margin-right: 1em; margin-top: -4px; width: 64px; }
    #icon-book { display: none; }

    @media (min-width: 768px) {
        #wrapper { width: 80%; margin: 2em auto; }
        #icon-book { display: inline-block; }
        #status a, #next a { display: block; }

        @-webkit-keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        @keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        .sf-toolbar { opacity: 0; -webkit-animation: fade-in 1s .2s forwards; animation: fade-in 1s .2s forwards;}
    }
</style>
{% endblock %}
