{% extends 'base.html.twig' %}

{% block body %}
  <a class="btn btn-default" href="/blog">Powrót do listy</a>
  <hr>
  <div class="row">
      <div class="col-12">
          <h2 class="page-header">{{post.getTitle}}</h2>
      </div>
      <div class="col-6 image">
          <img class="mr-12" src="{{post.getImageUrl}}" alt="Generic placeholder image">
      </div>
      <div class="col-6">
      <ul class="list-group">
          <li class="list-group-item"> Krótki opis: {{post.getShortDescription}}</li>
          <li class="list-group-item"> Data utworzenia: {{post.getCreateDate|date('F j, Y, g:i a')}}</li>
      </ul>
      </div>
      <div class="col-12">
          <p>{{post.getLongDescription}}</p>
      </div>
  </div>
{% endblock %}

{% block stylesheets %}
<style>
    body { background: #F5F5F5; font: 18px/1.5 sans-serif; }
    .image{ min-height: 200px;}
</style>
{% endblock %}
