{% extends 'base.html.twig' %}

{% block body %}
  <h2 class="page-header">Edycja wpisu</h2>
  <br/>
  {{form_start(form)}}
  {{form_widget(form)}}
  {{form_end(form)}}
{% endblock %}


{% block stylesheets %}
<style>
    body { background: #F5F5F5; font: 18px/1.5 sans-serif; }
    .image{ min-height: 200px;}
</style>
{% endblock %}
