{% extends 'base.html.twig' %}

{% block body %}
<h2 class="page-header">Lista wpisów</h2>
<hr>
<br/>
<ul class="list-unstyled">
  {% for post in posts %}
  <li class="media">
    <img class="mr-3" src="{{post.getImageUrl}}" alt="Generic placeholder image">
    <div class="media-body">
      <h5 class="mt-0 mb-1">{{post.getTitle}}</h5>
      {{post.getShortDescription}}
      <br />
      <span class="badge badge-secondary">{{post.getCreateDate|date('F j, Y, g:i a')}}</span>
    </div>
    <div class="d-flex flex-column">
        <a href="/blog/details/{{post.getId}}" class="btn btn-success">Zobacz</a>
        <a href="/blog/edit/{{post.getId}}" class="btn btn-info">Edytuj</a>
        <a href="/blog/delete/{{post.getId}}" class="btn btn-danger">Usuń</a>
    </div>
  </li>
  <hr>
  {% endfor %}
</ul>
{% endblock %}

{% block stylesheets %}
<style>
    body { background: #F5F5F5; font: 18px/1.5 sans-serif; }
</style>
{% endblock %}
